* {
  margin: 0;
  padding: 0;
}

html {
  background: #113;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  width: 100%;
}

body {
  margin: 0 auto;
  width: 900px;
}

header, section {
  padding: 10px 0;
}

footer {
  padding: 20px 0;
  text-align: center;
}

article {
  background: #047;
  border-radius: 10px;
  margin: 10px 0 10px 90px;
  width: 720px;
}

article.bouncy {
  transition: background 1s, width 1s;
    -moz-transition: background 1s, width 1s;
    -o-transition: background 1s, width 1s;
    -webkit-transition: background 1s, width 1s;
}

article.bouncy:hover {
  background: #04c;
  width: 760px;
}

a, a:active {
  color: #69f;
  text-decoration: none;
}

a:hover {
  color: #0ff;
}

hr {
  border-bottom: 1px solid #06a;
  border-top: 1px solid #0af;
  height: 0;
}

p {
  padding: 2px;
  text-shadow: 1px 1px #111;
}

input[type="button"] {
  padding: 5px;
  width: 100px;
}

#bio {
  height: 130px;
  margin-left: 200px;
}

#canvas {
    border: 1px solid #000;
}

#heading {
  font-size: 1.5em;
  padding-left: 1em;
  text-shadow: 1px 1px #111;
}

#name {
  font-size: 2em;
  text-shadow: 1px 1px #111;
}

#profile {
  border: 1px solid #111;
  border-radius: 50%;
  float: left;
  height: 120px;
  transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    -webkit-transition: all 2s ease-out;
  width: 120px;
}

#profile:hover {
  transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
}

.blurb {
  padding: 5px;
  width: 710px;
}

.centered {
  text-align: center;
}

section p.centered {
  padding: 0;
  text-align: center;
  width: 720px;
}

.uw-exam-schedule-hide {
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  cursor: pointer;
  height: 24px;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 24px;
}

.icon {
  transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    -o-transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}

.icon:hover {
  opacity: 0.4;
}

.subheading {
  font-size: 1.2em;
  text-align: center;
  text-shadow: 1px 1px #111;
  width: 720px;
}

.bubble {
  cursor: pointer;
}

.course-container {
  position: relative;
}