---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$content-width: 560px;
$min-width: $content-width/2;
$default-spacing: 5px;

$font-family: Helvatica, Arial, sans-serif;

$color1: #F9F9F8;
$color2: #9c9997;
$color3: #ADD6EF;
$color4: #897EAC;
$color5: #3457A0;
$color6: #07225D;

$nav-font-size: 30px;
$nav-height: 45px;

$text-font-size: 20px;

$text-color: $color5;
$link-color: $text-color;
$background-color: $color1;
$alternate-background-color: $color2;
$nav-background-color: $text-color;
$nav-text-color: $background-color;
$header-background-color: $color6;
$accent-color: $color3;

* {
    margin: 0;
    padding: 0;
}

html {
    background: $background-color;
    color: $text-color;
    font-family: $font-family;
    width: 100%;
}

body {
    margin: 0 auto;
    min-width: $min-width;
}

.header {
    background: $header-background-color;
    padding: $default-spacing;
    text-align: center;
    z-index: 20;
}

.portrait {
    border-radius: 50px;
    height: 100px;
    transition: all 2s ease-out;
    width: 100px;
}

.portrait:hover {
    transform: rotateY(360deg);
}

.nav {
    background: $nav-background-color;
    font-size: 0;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.nav-item {
    display: inline-block;
    font-size: $nav-font-size;
    line-height: 35px;
    padding: $default-spacing $default-spacing*3;
    text-align: center;
    text-decoration: none;

    background: $nav-background-color;
    color: $nav-text-color;
}

.nav-item.bubble {
    transition: background 0.25s, padding 0.8s;
}

.nav-item.bubble:hover {
    background: $accent-color;
    padding-left: $default-spacing*6;
    padding-right: $default-spacing*6;
}

.nav-item.active {
    background: $alternate-background-color;
    color: $nav-text-color;
}

.nav-item.hamburger {
    color: $nav-text-color;
    display: none;
}

a.nav-item:visited {
    color: $nav-text-color;
}

a.nav-item:hover {
    background: $accent-color;
}

@media screen and (max-width: $content-width) {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
    }

    .nav.open {
        width: 100%;
    }

    .nav.open a.nav-item {
        display: inline-block;
        float: none;
        text-align: left;
        width: 100%;
    }

    .nav .nav-item {
        display: none;
    }

    .nav a.nav-item.hamburger {
        float: left;
        display: inline-block;
    }

    .header {
        display: none;
    }

    .page-content-wrapper {
        position: relative;
        top: $nav-height;
    }
}

.page-content-wrapper {
    font-size: $text-font-size;
    min-width: $min-width;
    margin: $default-spacing*3;
    width: $content-width;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    text-align: center;
}
