---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$content-width: 720px;
$min-width: $content-width/2;
$default-spacing: 5px;

$font-family: Helvatica, Arial, sans-serif;
$color1: #F9F9F8;
$color2: #9c9997;
$color3: #ADD6EF;
$color4: #897EAC;
$color5: #3457A0;

$font-color: $color5;
$link-color: $font-color;
$background-color: $color1;
$accent-color: $color3;

* {
    margin: 0;
    padding: 0;
}

html {
    background: $background-color;
    color: $font-color;
    font-family: $font-family;
    width: 100%;
}

body {
    margin: 0 auto;
    width: $content-width;
    min-width: $min-width;
}

a {
    color: $link-color;
}

a:hover {
    background: $accent-color;
}

a:visited {
    color: $link-color;
}

.portrait {
    border-radius: 50px;
    height: 100px;
    transition: all 2s ease-out;
    width: 100px;
}

.portrait:hover {
    transform: rotateY(360deg);
}

.sticky {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-item {
    border-radius: $default-spacing;
    display: inline-block;
    font-size: 20px;
    padding: $default-spacing $default-spacing*3;
    text-align: center;
}

a.nav-item {
    transition: background 0.25s, padding 0.8s;
    text-decoration: none;
}

a.nav-item:hover {
    background: $accent-color;
    padding-left: $default-spacing*6;
    padding-right: $default-spacing*6;
}

.page-content-wrapper {
    margin: $default-spacing*2;
    padding-top: 30px;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item {
    text-align: center;
}

#header_info {
    padding: $default-spacing;
    text-align: center;
}

#header_menu {
    background: $background-color;
    text-align: center;
}
