---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$content-width: 800px;
$min-width: $content-width/2;
$header-height: 50px;
$default-spacing: 5px;

$header-background-color: #f5f5f5;
$background-color: #fdfdfd;
$header-text-color: #555555;

$font-family: Helvatica, Arial, sans-serif;

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: $font-family;
    width: 100%;
    height: 100%;
    background: $background-color;
}

body {
    margin: 0 auto;
    min-width: $min-width;
}

.title-wrapper {
    padding: $default-spacing;
    padding-bottom: $default-spacing*3;
}

.title {
    font-size: xx-large;
    text-align: center;
    line-height: $header-height;
    vertical-align: text-bottom;
}

.subtitle {
    font-size: x-small;
    text-align: center;
}

.nav {
    display: grid;
    margin: 0 auto;
    background: $header-background-color;
}

.nav-item {
    align-items: center;
    margin: 0 $default-spacing*2;
    display: flex;
    grid-row: 1;
    justify-content: center;
    text-decoration: none;
    padding: $default-spacing*2 0;
    font-size: smaller;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    color: $header-text-color;
}

.nav-item:visited {
    text-decoration: none;
    color: $header-text-color;
}

.nav-item:hover {
    border-bottom: 1px solid $header-text-color;
}

.nav-item.current {
    border-bottom: 1px solid $header-text-color;
}

.page-content-wrapper {
    background: $background-color;
    padding: $default-spacing*2;
    width: 95%;
    margin: 0 auto;
}

.centered {
    text-align: center;
}

.soundcloud {
    display: block;
    margin: $default-spacing*2 0;
    height: 200px;
    width: 100%;
}

.photo-card {
    margin: $default-spacing*2 0;
    padding: $default-spacing*2 0;
}

.photo-img {
    width: 100%;
}

.photo-blurb {
    color: $header-text-color;
    font-size: small;
}

.about-portrait-wrapper {
    text-align: center;
    margin-bottom: $default-spacing*2;
}

.about-portrait {
    max-width: $min-width/2;
    width: 30%;
    border-radius: 50%;
}

.about-titles {
    width: fit-content;
    margin: 0 auto;
}

.about-bullet {
    padding: $default-spacing;
    font-weight: lighter;
}

.footer {
    padding-top: $default-spacing*3;
    background: $background-color;
}

.footer-donate-wrapper {
    text-align: center;
}

.footer-icon {
    opacity: 1;
    transition: opacity 0.5s;
}

.footer-icon:hover {
    opacity: 0.5;
}

