<header id="header" class="header">
	<section class="info-section">
		<img class="portrait" src="/imgs/me.jpg" />
	</section>
	<section class="info-section">
		<article class="icon-grid">
			<a class="icon-grid-square" href="mailto:john@john-he.com"><img class="icon" src="/imgs/icon-mail.svg" /></a>
			<a class="icon-grid-square" target="_blank" href="https://www.linkedin.com/in/johnhe00/"><img class="icon" src="/imgs/icon-link.svg" /></a>
			<a class="icon-grid-square" target="_blank" href="https://soundcloud.com/johnhe00"><img class="icon" src="/imgs/icon-sound.svg" /></a>
			<a class="icon-grid-square" target="_blank" href="https://www.instagram.com/johnhe00"><img class="icon" src="/imgs/icon-insta.svg" /></a>
			<a class="icon-grid-square" target="_blank" href="https://www.facebook.com/JohnHeMusic"><img class="icon" src="/imgs/icon-face.svg" /></a>
		</article>
	</section>
</header>

